<!-- time-display.html
     Used by: src/components/time-display/time-display.js
     Displays PST time (large, primary) and EST time (small, reference)
     with current date in PST timezone
-->
<div class="time-container">
  <div class="row-1-left">
    <div class="date-box">
      <div class="date-display" id="datePST">Loading...</div>
    </div>
    <div class="est-box">
      <div class="time-est-display">EST: <span id="timeEST">--:--</span></div>
    </div>
  </div>
  <div class="row-1-right">
    <div class="time-pst" id="timePST">--:--</div>
  </div>
</div>